<div class="form-group row mb-3">
	<label for="formControlSelect" class="col-sm-2 col-form-label">@Label</label>
	<div class="col-sm-4">
		@if (Categories == null)
		{
			<select class="form-control" disabled>
				<option>Loading...</option>
			</select>
		}
		else
		{
			<select class="form-control" id="formControlSelect" @onchange="OnSelectedChanged">
				<option disabled selected>Select a parcel category</option>
				@foreach (var category in Categories)
				{
					<option value="@category.LocationId.Value">@category.Name</option>
				}
			</select>
		}
	</div>
</div>